/* Root selecter for making variable */
:root {
  /* Font family */

  /* Font family heading */
  --font-family-header: Montserrat-Bold;
  /* Font family subheading */
  --font-family-header-sub: Montserrat-Medium;
  /* Font family Normal*/
  --font-family-normal: Roboto-Regular;

  /* Font size */

  /* Font size smal */
  --font-size-small: 1.2rem;
  /* Font size medium */
  --font-size-medium: 1.5rem;
  /* Font size Large*/
  --font-size-large: 2rem;

  /* Colour palette */

  /* Primary Color */
  --color-Primary: rgb(180, 200, 217);
  /* Secondary Color */
  --color-secondary: rgb(3, 120, 166);
  /* Tertiary Color */
  --color-tertiary: rgb(251, 82, 60);
  /* White Color */
  --color-white: rgb(255, 255, 255);
  /* Black Color */
  --color-black: rgb(0, 0, 0);
  /* Gray Color */
  --color-gray: rgb(178, 178, 178);
}

/* import of font from assets */

/* this is font using for heading & Subheading */
/* Montserrat-Regular */
@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/font/Montserrat/static/Montserrat-Regular.ttf);
}
/* Montserrat-Medium */
@font-face {
  font-family: Montserrat-Medium;
  src: url(../assets/font/Montserrat/static/Montserrat-Medium.ttf);
}
/* Montserrat-Bold */
@font-face {
  font-family: Montserrat-Bold;
  src: url(../assets/font/Montserrat/static/Montserrat-Bold.ttf);
}
/* this is font using for Normal and p */
/* Roboto-Light */
@font-face {
  font-family: Roboto-Light;
  src: url(../assets/font/Roboto/Roboto-Light.ttf);
}
/* Roboto-Regular */
@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/font/Roboto/Roboto-Regular.ttf);
}
/* Roboto-Medium */
@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/font/Roboto/Roboto-Medium.ttf);
}
/* Roboto-Blod */
@font-face {
  font-family: Roboto-Blod;
  src: url(../assets/font/Roboto/Roboto-Bold.ttf);
}

/* body */
body {
  display: grid;
  grid-gap: 10px;
  grid-template:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
}

/* Removing underline from links */
a,
a::before,
a::after {
  text-decoration: none;
}

/*  header */
header {
  display: flex;
  grid-area: header;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: linear-gradient(
      rgba(254, 254, 254, 0.9),
      rgba(255, 255, 255, 0.6)
    ),
    url(../assets/img/rd_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Nav */
nav {
  display: flex;
  background: var(--color-secondary);
  grid-area: nav;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: main;
}

.rd_nav_filter {
  display: flex;
  min-height: 5rem;
  background: chartreuse;
  justify-content: center;
}

/* Rainday product section */
.rd_product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background: #fff;
  min-height: 100px;
}

/* Product body  */
.rd_product_body {
  background: var(--color-Primary);
  border: 0.3rem solid var(--color-secondary);
  border-radius: 0.1rem;
}

/* Rainday product image */
.rd_product_img {
  height: 11vh;
}

/* Footer */
footer {
  display: flex;
  background: var(--color-secondary);
  grid-area: footer;
  min-height: 10vh;
}

nav {
  grid-template-areas: ;
}
